{% extends 'dash/layout.html' %} {% block main %} {% load static %}
<div class="contentContextualizacao">
  <h1>Inquérito à Mobilidade nas Áreas Metropolitanas do Porto e de Lisboa</h1>
  <div class="textPrincipalPage">
    <p>
      O Inquérito à Mobilidade realizado em 2017 pelo Instituto Nacional de
      Estatística (INE), teve como principal objetivo caracterizar as
      deslocações realizadas pela população residente, dando resposta
      designadamente às seguintes questões:
    </p>
    <div class="imgboximob">
      <img
        src="{% static 'dash/images/imob.png' %}"
        alt="IMOB logo"
        class="imgimob"
      />
    </div>
    <div class="paddingPoints">
      <p>Como nos deslocamos?</p>
      <p>Quanto tempo demoramos?</p>
      <p>Que distâncias percorremos?</p>
      <p>Que custos temos?</p>
    </div>
    <p>
      A sua realização visou em primeiro lugar corresponder a necessidades de
      informação identificadas pelas Áreas Metropolitanas do Porto e de Lisboa.
      A colaboração a diversos níveis destas entidades foi aliás essencial para
      a concretização desta operação estatística.
    </p>
    <div class="imgboximob2">
      <img
        src="{% static 'dash/images/imob.png' %}"
        alt="IMOB logo"
        class="imgimob"
      />
    </div>
    <p>
      Este inquérito, de realização ocasional, veio permitir a quantificação das
      deslocações dos residentes nas áreas metropolitanas, pese embora diversas
      conclusões virem confirmar a perceção já existente sobre esta temática.
      Subdividiu-se em 3 partes, sobre:
    </p>
    <ul>
      <div>
        <li>
          caracterização da população residente na perspetiva da mobilidade
          (população móvel), incluindo informação socioeconómica e despesas com
          a mobilidade;
        </li>
        <li>
          análise da mobilidade na área metropolitana de acordo com duas
          óticas:<br />
          - deslocações totais realizadas, segundo a residência do
          respondente,<br />
          - deslocações intrametropolitanas (origem e destino na área
          metropolitana);
        </li>
        <li>
          opiniões dos residentes, evidenciando razões para utilização do
          transporte individual e público, bem como a avaliação efetuada sobre
          os transportes públicos.
        </li>
      </div>
    </ul>
    <p>
      Neste trabalho apenas serão utilizados os dados do inquérito relativos à
      Área Metropolitana de Lisboa. Os dados utilizados e o relatório relativo a
      este estudo encontram se
      <a
        href="https://www.ine.pt/xportal/xmain?xpid=INE&xpgid=ine_publicacoes&PUBLICACOESpub_boui=349495406&PUBLICACOESmodo=2&&fbclid=IwAR2QzUZK0mUSEdKySZe1HqmObblKWR62vIyVhtVAAxrQhyNllna-DDfp2bk&xlang=pt"
        target="_blank"
        >aqui</a
      >.
    </p>
  </div>
  <div class="imgamlbox">
    <img
      src="{% static 'dash/images/municipios.png' %}"
      alt="AML logo"
      class="imgaml"
    />
  </div>
  <h1>Área Metropolitana de Lisboa</h1>
  <div class="textPrincipalPage">
    <p>
      A Área Metropolitana de Lisboa (AML) é uma área constituída por 18
      municípios entre as margens norte e sul do Rio Tejo, dos quais fazem
      parte: Alcochete, Almada, Amadora, Barreiro, Cascais, Lisboa, Loures,
      Mafra, Moita, Montijo, Odivelas, Oeiras, Palmela, Seixal, Sesimbra,
      Setúbal, Sintra e Vila Franca de Xira.
    </p>
    <div class="imgamlbox2">
      <img
        src="{% static 'dash/images/municipios.png' %}"
        alt="AML logo"
        class="imgaml"
      />
    </div>
    <p>
      Os Municípios são agrupados em dois grandes grupos, a Grande Lisboa e a
      Península de Setúbal. A área total é de 3 015 km² e residem no local cerca
      de 2.871.133 pessoas, segundo os censos de 2021, o que corresponde a cerca
      de 27% da população nacional.
    </p>
  </div>
  <h1>Objetivos e Metodologia do Trabalho</h1>
  <div class="textPrincipalPage">
    <p>
      Este trabalho foi realizado no âmbito do trabalho final de curso da
      licenciatura em informática de gestão na Universidade Lusófona - Centro
      Universitário de Lisboa, e tem como objetivo conseguir entregar um
      conjunto de visualizações interativas e dinâmicas dos dados disponíveis
      relativos aos transportes na AML, integradas numa página Web. Para
      alcançar este objetivo, será necessário antes fazer um tratamento dos
      dados disponíveis. Pretende-se que os utilizadores deste Website consigam
      analisar e observar os Dashboards que foram criados, e assim, poderão ver
      outro tipo de informações mais facilmente.
    </p>
    <p>
      Para este desenvolvimento foram utilizadas diversas tecnologias, como
      Power BI, que é uma ferramenta de Business Intelligence, de análise de
      dados e análise de negócio criada pela Microsoft, através da qual é
      possível conectar os nossos dados através de diferentes fontes, e
      utilizá-los nesta plataforma unificada e dimensional, onde é possível
      criar relações e desenvolver visualizações, que ajudam na gestão e nas
      tomadas de decisões. Com estas visualizações, é possível criar um conjunto
      de dashboards. Por último, para contruir o website, foi utilizada a
      framework Django, que utiliza Python para a criação das aplicações.
    </p>
    <div class="imgtecnologiasbox">
      <img
        src="{% static 'dash/images/Tecnologias.png' %}"
        alt="Tecnologias"
        class="imgtecnologias"
      />
    </div>
  </div>
  <div class="divButtonBack">
    <a href="{% url 'imob:home' %}"
      ><button type="button" class="buttonBack">
        Voltar à página inicial
      </button></a
    >
  </div>
</div>
{% endblock %}
