{% extends 'dash/layout.html' %} {% block main %}
<div class="content">
  <div class="centeriframe">
    <iframe
      title="Dashboard Mobilidade"
      class="myDiv"
      id="myIframe"
      width="100%"
      height="100%"
      src="https://app.powerbi.com/view?r=eyJrIjoiMjRmMDgwNWUtYmMwOC00N2ZkLWFhMjYtZGU3NjUxMGIzZWZjIiwidCI6IjEzOGNjYzA2LTUxNmItNGU4MS04ODEzLTA2ZmQyNTMxYmRkYyIsImMiOjh9&pageName=ReportSection52d1ce563ac01d70a543"
      frameborder="0"
      allowfullscreen="true"
    ></iframe>
  </div>
</div>
{% endblock %}
