{% extends 'dash/layout.html' %} {% block main %} {% load static %}
<div class="contentHome">
  <div class="texthome">
    <h1 class="textcentered">Mobilidade na AML</h1>
    <p>
      Dados sobre a mobilidade na Area Metropolitana de Lisboa, com base no
      Inquérito à Mobilidade IMOB realizado em 2017.
    </p>
  </div>
</div>
<div class="contentContextualizacao">
  <div class="textPrincipalPage">
    <p>Este website é constituido por 5 separadores:</p>
    <ul>
      <li class="paddingListHome">
        <b>Início</b>: Página onde se encontra. É a página inicial do website.
      </li>
      <li class="paddingListHome">
        <b>Contextualização</b>: Apresentação do que foi o Inquérito à
        Mobilidade (IMOB), apresentação de o que é a Área Metropolitana de
        Lisboa e quais os concelhos que a constituem, e objetivos e metodologia
        utilizada para este trabalho.
      </li>
      <li class="paddingListHome">
        <b>Informações população</b>: Neste serparador são apresentados os
        primeiros dashboards, com informações relativamente aos Municípios e as
        caracteristicas da população que reside nos mesmos.
      </li>
      <li class="paddingListHome">
        <b>Mobilidade na AML</b>: Neste separador temos diversas informações
        relativas aos tipos de transporte, deslocações, duração e distância das
        deslocações, o tipo das deslocações, distribuição e densidades.
      </li>
      <li class="paddingListHome">
        <b>Avaliação e Opiniões</b>: Por último, temos um separador onde estão
        as avaliações e opiniões dos inquiridos, de acordo com um conjunto de
        perguntas realizadas.
      </li>
    </ul>
  </div>
</div>
{% endblock %}
