{% extends 'dash/layout.html' %} {% block main %} {% load static %}
<div class="contentHome">
  <div class="texthome">
    <h1 class="textcentered">Mobilidade na AML</h1>
    <p style="padding: 0px; margin: 0px; font-size: 18px">
      Dados sobre a mobilidade na Área Metropolitana de Lisboa, com base no
      Inquérito à Mobilidade IMOB realizado pelo INE em 2017
    </p>
  </div>
</div>
<div class="contentContextualizacao">
  <div class="textPrincipalPage">
    <p>Este website é constituido por 6 separadores:</p>
    <ul>
      <li class="paddingListHome">
        <b>Início</b>: Página onde se encontra. É a página inicial do website.
      </li>
      <li class="paddingListHome">
        <b>Contextualização</b>: Apresentação do que foi o Inquérito à
        Mobilidade (IMOB), apresentação de o que é a Área Metropolitana de
        Lisboa e quais os concelhos que a constituem, e objetivos e metodologia
        utilizada para este trabalho.
      </li>
      <li class="paddingListHome">
        <b>Informações população</b>: Neste serparador são apresentados os
        primeiros dashboards, com informações relativamente aos Municípios e as
        caracteristicas da população que reside nos mesmos.
      </li>
      <li class="paddingListHome">
        <b>Mobilidade na AML</b>: Neste separador encontram se diversas
        informações relativas aos tipos de transporte, deslocações, duração e
        distância das deslocações, o tipo das deslocações, distribuição e
        densidades.
      </li>
      <li class="paddingListHome">
        <b>Avaliação e Opiniões</b>: Aqui é onde se encontram as avaliações e
        opiniões dos inquiridos, de acordo com um conjunto de perguntas
        realizadas.
      </li>
      <li class="paddingListHome">
        <b>Correlações entre variáveis</b>: Por último, está um separador que
        apresenta algumas correlações que foram realizadas com os dados
        apresentados nos outros separadores.
      </li>
    </ul>
  </div>
</div>
{% endblock %}
