<!DOCTYPE html>
{% load static %} {% with url_name=request.resolver_match.url_name %}
<html lang="pt">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" href="{% static 'dash/images/ULHT.jpg' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Martim Teixeira" />
    <link rel="stylesheet" href="{% static 'dash/css/style.css' %}" />
    <title>IMOB Dashboard</title>
  </head>
  <body>
    <header>
      <div class="sidebar" id="myTopnav">
        <a class="image" href="{% url 'imob:home' %}"
          ><img
            src="{% static 'dash/images/aml.png' %}"
            alt="AML logo"
            class="imglogo"
        /></a>
        <a
          href="{% url 'imob:home' %}"
          class="{% if url_name == 'home' %}active{% endif %}"
          >Início</a
        >
        <a
          href="{% url 'imob:imobpage' %}"
          class="{% if url_name == 'imobpage' %}active{% endif %}"
          >IMOB</a
        >
        <a
          href="{% url 'imob:aml' %}"
          class="{% if url_name == 'aml' %}active{% endif %}"
          >AML</a
        >
        <button onclick="changepage()" class="dropdown-btn">
          Dashboards Mobilidade
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container" id="container-drop">
          <a href="#" onclick="pbFunc('page1')">População e Municípios</a>
          <a href="#" onclick="pbFunc('page2')">Caracterização população</a>
          <a href="#" onclick="pbFunc('page3')">Despesas população</a>
          <a href="#" onclick="pbFunc('page4')">Tipo transporte</a>
          <a href="#" onclick="pbFunc('page5')">Deslocações diárias</a>
          <a href="#" onclick="pbFunc('page6')">Tipo de estacionamento</a>
          <a href="#" onclick="pbFunc('page7')"
            >Duração e distância deslocações</a
          >
          <a href="#" onclick="pbFunc('page8')">Deslocações intramunicipais</a>
          <a href="#" onclick="pbFunc('page9')">Deslocações intermunicipais</a>
          <a href="#" onclick="pbFunc('page10')"
            >Destino deslocações intermunicipais</a
          >
          <a href="#" onclick="pbFunc('page11')">Densidade deslocações</a>
          <a href="#" onclick="pbFunc('page12')"
            >Automóvel vs Transportes públicos</a
          >
          <a href="#" onclick="pbFunc('page13')">Transportes públicos</a>
          <a href="#" onclick="pbFunc('page14')">Utilização automóvel</a>
          <a href="#" onclick="pbFunc('page15')"
            >Utilização transportes públicos</a
          >
          <a href="#" onclick="pbFunc('page16')">Avaliação</a>
        </div>
        <a
          href="javascript:void(0);"
          style="font-size: 15px; position: fixed; top: 0; right: 0"
          class="icon"
          onclick="myFunction()"
          >&#9776;</a
        >
      </div>
    </header>
    <main>{% block main %} {% endblock main %}</main>
    <footer>
      <p>
        Trabalho Final de Curso - Martim Teixeira <br />
        Universidade Lusófona ©2023
      </p>
    </footer>
  </body>
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "sidebar") {
        x.className += " responsive";
      } else {
        x.className = "sidebar";
      }
    }

    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "block";
        }
      });
    }

    // Verifique se o usuário está na página
    if (window.location.href.indexOf("dashboard") === -1) {
      // Se o usuário não estiver na página, redirecione-o para a página de dashboards
      var dropdown = document.querySelector(".dropdown-btn");
      dropdown.addEventListener("click", function () {
        window.location.href = "{% url 'imob:dashboard' %}";
      });
    } else {
      // Se o usuário estiver na página, expanda o menu automaticamente e defina a função toggleDropdown
      var dropdownContent = document.getElementById("container-drop");
      dropdownContent.style.display = "block";
      function changepage() {
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "block";
        }
      }
    }

    function pbFunc(page) {
      var iframe = document.getElementById("myIframe");
      console.log(iframe);
      if (iframe === null) {
        location.href = "/dashboard#";
      }
      if (page === "page1") {
        iframe.setAttribute(
          "src",
          "https://app.powerbi.com/view?r=eyJrIjoiNDRiZDg2NTktOTBhMC00ZTEyLWFjNjItZjgyZmNlZGQwZjZmIiwidCI6IjEzOGNjYzA2LTUxNmItNGU4MS04ODEzLTA2ZmQyNTMxYmRkYyIsImMiOjh9&pageName=ReportSectionf2b99d7eb3d2893dca17"
        );
      } else if (page === "page2") {
        iframe.setAttribute(
          "src",
          "https://app.powerbi.com/view?r=eyJrIjoiNDRiZDg2NTktOTBhMC00ZTEyLWFjNjItZjgyZmNlZGQwZjZmIiwidCI6IjEzOGNjYzA2LTUxNmItNGU4MS04ODEzLTA2ZmQyNTMxYmRkYyIsImMiOjh9&pageName=ReportSection41c313ecdb083bac7800"
        );
      } else if (page === "page3") {
        iframe.src =
          "https://app.powerbi.com/view?r=eyJrIjoiNDRiZDg2NTktOTBhMC00ZTEyLWFjNjItZjgyZmNlZGQwZjZmIiwidCI6IjEzOGNjYzA2LTUxNmItNGU4MS04ODEzLTA2ZmQyNTMxYmRkYyIsImMiOjh9&pageName=ReportSection1ac5b021f4602be041e4";
      } else if (page === "page4") {
        iframe.src =
          "https://app.powerbi.com/view?r=eyJrIjoiNDRiZDg2NTktOTBhMC00ZTEyLWFjNjItZjgyZmNlZGQwZjZmIiwidCI6IjEzOGNjYzA2LTUxNmItNGU4MS04ODEzLTA2ZmQyNTMxYmRkYyIsImMiOjh9&pageName=ReportSection9c5a5aeb60a498607340";
      } else if (page === "page5") {
        iframe.src =
          "https://app.powerbi.com/view?r=eyJrIjoiNDRiZDg2NTktOTBhMC00ZTEyLWFjNjItZjgyZmNlZGQwZjZmIiwidCI6IjEzOGNjYzA2LTUxNmItNGU4MS04ODEzLTA2ZmQyNTMxYmRkYyIsImMiOjh9&pageName=ReportSectionf29840bd830107865ed2";
      }
      document.getElementById("myIframe").contentWindow.location.reload();
      console.log(iframe);
    }
  </script>
</html>
{% endwith %}
