<!DOCTYPE html>
{% load static %} {% with url_name=request.resolver_match.url_name %}
<html lang="pt">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" href="{% static 'dash/images/ULHT.jpg' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Martim Teixeira" />
    <link rel="stylesheet" href="{% static 'dash/css/style.css' %}" />
    <title>IMOB Dashboard</title>
  </head>
  <body>
    <header>
      <div class="sidebar" id="myTopnav">
        <a class="image" href="{% url 'imob:home' %}"
          ><img
            src="{% static 'dash/images/aml.png' %}"
            alt="AML logo"
            class="imglogo"
        /></a>
        <a
          href="{% url 'imob:home' %}"
          class="{% if url_name == 'home' %}active{% endif %}"
          >Início</a
        >
        <a
          href="{% url 'imob:imobpage' %}"
          class="{% if url_name == 'imobpage' %}active{% endif %}"
          >IMOB</a
        >
        <a
          href="{% url 'imob:aml' %}"
          class="{% if url_name == 'aml' %}active{% endif %}"
          >AML</a
        >
        <button onclick="changepage()" class="dropdown-btn">
          Dashboards Mobilidade
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container" id="container-drop">
          <a href="#" onclick="pbFunc('page1')">População e Municípios</a>
          <a href="#" onclick="pbFunc('page2')">Caracterização população</a>
          <a href="#" onclick="pbFunc('page3')">Despesas população</a>
          <a href="#" onclick="pbFunc('page4')">Tipo transporte</a>
          <a href="#" onclick="pbFunc('page5')">Deslocações diárias</a>
          <a href="#" onclick="pbFunc('page6')">Tipo de estacionamento</a>
          <a href="#" onclick="pbFunc('page7')"
            >Duração e distância deslocações</a
          >
          <a href="#" onclick="pbFunc('page8')">Deslocações intramunicipais</a>
          <a href="#" onclick="pbFunc('page9')">Deslocações intermunicipais</a>
          <a href="#" onclick="pbFunc('page10')"
            >Destino deslocações intermunicipais</a
          >
          <a href="#" onclick="pbFunc('page11')">Densidade deslocações</a>
          <a href="#" onclick="pbFunc('page12')"
            >Automóvel vs Transportes públicos</a
          >
          <a href="#" onclick="pbFunc('page13')">Transportes públicos</a>
          <a href="#" onclick="pbFunc('page14')">Utilização automóvel</a>
          <a href="#" onclick="pbFunc('page15')"
            >Utilização transportes públicos</a
          >
          <a href="#" onclick="pbFunc('page16')">Avaliação</a>
        </div>
        <a
          href="javascript:void(0);"
          style="font-size: 15px; position: fixed; top: 0; right: 0"
          class="icon"
          onclick="myFunction()"
          >&#9776;</a
        >
      </div>
    </header>
    <main>{% block main %} {% endblock main %}</main>
    <footer>
      <p>
        Trabalho Final de Curso - Martim Teixeira <br />
        Universidade Lusófona ©2023
      </p>
    </footer>
  </body>
  <script src="{% static 'dash/javascript/script.js' %}"></script>
</html>
{% endwith %}
